.container1{
    height: 100%;
    font-size: larger; 
    background-image: url("C:\Users\srika\Desktop\Project\scrapyardreact\public\Images\sellscrap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}